<div class="module-container">
    <h1>Liste des clients</h1>

    <mat-input-container floatPlaceholder="auto">
        <input matInput type="text" #searchField (keyup.enter)="setFilter(searchField.value)" placeholder="rechercher">
    </mat-input-container>

    <button mat-button (click)="onClick">Ajouter</button>


    <mat-list dense>
        <mat-list-item *ngFor="let client of clients">
            <client-info [client]="client"></client-info>
        </mat-list-item>
    </mat-list>
</div>