<div class="module-container" fxLayout="column" fxLayoutAlign=" none">
    <div *ngFor="let item of (scadaInfo | async)?.Values ">
        <p>Nom   : {{item.Name}}</p>
        <p>Value : {{item.Value}}</p>
    </div>
    <!--<div class="header-container" fxFlex="60px" fxLayout="row" fxLayoutAlign=" center">
        <h2 fxFlex>Mes commandes</h2>
        <div class="searchField-container" fxLayout="row" fxLayoutAlign=" center">
            <input class="searchField" fxFlex="500px" type="text" #searchField (keyup.enter)="setFilter(searchField.value)" placeholder="Rechercher">
            <mat-icon>search</mat-icon>
        </div>
        <div class="pagination-container" fxFlex fxLayout="row" fxLayoutAlign="end center">
            <p *ngIf="count >= pageLength && pageIndex + pageLength <= count">
                {{pageIndex +1}}-{{pageIndex + pageLength}} sur {{count}}
            </p>
            <p *ngIf="count != 0 && count < pageLength">
                {{pageIndex +1}}-{{pageIndex + count}} sur {{count}}
            </p>
            <p *ngIf="count >= pageLength && pageIndex + pageLength > count">
                {{pageIndex +1}}-{{count}} sur {{count}}
            </p>
            <button [disabled]="!hasPreviousPage()" (click)="getPreviousPage()" mat-button (click)="onClick" matTooltip="Page précédante">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button [disabled]="!hasNextPage()" (click)="getNextPage()" mat-button (click)="onClick" matTooltip="Page suivante">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="content-container" fxLayout="column" fxLayoutAlign=" none">
        <div class="actions-container" fxLayout="row" fxLayoutAlign=" center">
            <button class="add-button" mat-mini-fab (click)="goToCreate()" matTooltip="Nouvelle commande" matTooltipPosition="after">
                <mat-icon>add</mat-icon>
            </button>
            <span fxFlex></span>
            <span fxFlex></span>
            <button mat-icon-button class="mat-elevation-z0" matTooltip="Rafraîchir la liste" matTooltipPosition="before" (click)="getClients()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
        <div class="table-header" fxLayout="row">
            <h5 fxFlex="150px">N° Commande</h5>
            <h5 fxFlex>Client</h5>
            <h5 fxFlex="150px">Date commande</h5>
            <h5 fxFlex="150px">Délai livraison</h5>
            <h5 fxFlex="150px">Montant-HT</h5>
            <h5 fxFlex="150px">Montant-TTC</h5>
            <span fxFlex="46px"></span>
        </div>
        <div class="table-content" fxLayout="column" fxLayoutAlign=" none">
            <div class="table-row" *ngFor="let commande of filtredList">
                <commande-info [commande]="commande" (deleteEvent)="deleted($event)"></commande-info>
            </div>
        </div>
    </div>-->
</div>