<form [formGroup]="commandeForm" fxLayout="column" fxLayoutAlign=" none" fxFill>
    <h2 fxFlex>Nouvelle commande</h2>
    <div class="main-form">
        <span fxFlex="10px"></span>
        <div class="selected-client-container" *ngIf="selectedClient" fxFlex fxLayout="row" fxLayoutAlign=" center">
            <p>Client : {{ selectedClient.raisonSociale }}
                <br>
                <span *ngIf="selectedClient.responsable">Responsable : {{ selectedClient.responsable }}</span>
            </p>
            <span fxFlex></span>
            <button mat-button (click)="clearSelectedClient()" fxFlex="40px" matTooltip="Annuler la sélection de ce client" matTooltipPosition="after">X</button>
            <span fxFlex="10px"></span>
        </div>
        <mat-form-field *ngIf="!selectedClient" fxFlex>
            <input type="text" placeholder="Client" matInput [formControl]="searchClientForm" [matAutocomplete]="auto" autofocus>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let client of filtredClients | async" [value]="client">
                    {{ client.raisonSociale }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <span fxFlex="10px"></span>
        <mat-input-container floatPlaceholder="auto" fxFlex="150px">
            <input matInput formControlName="refCommandeClient" type="text" placeholder="Réf.Cmd.Client">
        </mat-input-container>
        <span fxFlex="10px"></span>
        <mat-input-container floatPlaceholder="auto" fxFlex="150px">
            <input matInput formControlName="modePayement" type="text" placeholder="Mode de payement">
        </mat-input-container>
        <span fxFlex="10px"></span>
        <mat-form-field fxFlex="150px">
            <input matInput [matDatepicker]="dateCommandePicker" placeholder="Date commande" formControlName="dateCommande">
            <mat-datepicker-toggle matSuffix [for]="dateCommandePicker"></mat-datepicker-toggle>
            <mat-datepicker #dateCommandePicker></mat-datepicker>
        </mat-form-field>
        <span fxFlex="10px"></span>
        <mat-input-container floatPlaceholder="auto" fxFlex="110px">
            <input matInput formControlName="montantHT" type="number" placeholder="Montant-HT">
        </mat-input-container>
        <span fxFlex="10px"></span>
        <mat-input-container floatPlaceholder="auto" fxFlex="120px">
            <input matInput formControlName="montantTTC" type="number" placeholder="Montant-TTC">
        </mat-input-container>
        <span fxFlex="10px"></span>
        <mat-form-field fxFlex="130px">
            <input matInput [matDatepicker]="delaiLivraisonPicker" placeholder="Délai livraison" formControlName="delaiLivraison">
            <mat-datepicker-toggle matSuffix [for]="delaiLivraisonPicker"></mat-datepicker-toggle>
            <mat-datepicker #delaiLivraisonPicker></mat-datepicker>
        </mat-form-field>
        <span fxFlex="10px"></span>
    </div>
    <div class="table-header" fxLayout="row">
        <span fxFlex="10px"></span>
        <h5 fxFlex>Fournisseur</h5>
        <span fxFlex="10px"></span>
        <h5 fxFlex>Produits</h5>
        <span fxFlex="10px"></span>
        <h5 fxFlex="100px">Délai</h5>
        <span fxFlex="10px"></span>
        <h5 fxFlex="120px">Montant-HT</h5>
        <span fxFlex="10px"></span>
        <h5 fxFlex="120px">Montant-TTC</h5>
        <span fxFlex="105px"></span>
    </div>
    <create-produit (addProduitEvent)="addProduit($event)" [edittedProduit]="edittedProduit"></create-produit>
    <div class="produits-container" fxFlex>
        <div *ngFor="let produit of produits">
            <produit-info [produit]="produit" (deleteEvent)="deletedProduit($event)"></produit-info>
        </div>
    </div>
    <div class="produits-footer" fxLayout="row" fxLayoutAlign="center center">
        <span fxFlex="10px"></span>
        <h4>Total des achats :</h4>
        <span fxFlex></span>
        <h3 class="price-align" fxFlex="120px">{{totalAchatsHT | number : '1.2-2'}} €</h3>
        <span fxFlex="10px"></span>
        <h3 class="price-align" fxFlex="120px">{{totalAchatsTTC | number : '1.2-2'}} €</h3>
        <span fxFlex="105px"></span>
    </div>
    <div class="button-container" fxLayout="row" fxLayoutAlign="center center">
        <button *ngIf="!validating" mat-raised-button class="submit-button" (click)="createCommande(commandeForm.value)" type="button">
            <mat-icon>done</mat-icon>
            <span>Valider</span>
        </button>
        <span fxFlex="10px"></span>
        <button *ngIf="!validating" mat-raised-button type="button" (click)="cancel()">
            <mat-icon>clear</mat-icon>
            <span>Annuler</span>
        </button>
    </div>
</form>