<div class="main-container">
  <div class="main-nav-bar" fxFlex="50px" fxLayout="column" fxLayoutAlign="start none" [fxHide]="true">
    <button mat-button (click)="onClick" matTooltip="Annuaire des clients" matTooltipPosition="after" >
        <mat-icon>person_pin</mat-icon>
    </button>
    <button mat-button (click)="onClick" matTooltip="Annuaire des fournisseurs" matTooltipPosition="after" >
        <mat-icon>supervisor_account</mat-icon>
    </button>
    <button mat-button (click)="onClick" matTooltip="Gestion des commandes" matTooltipPosition="after" >
        <mat-icon>assignment</mat-icon>
    </button>
  </div>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>