<div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlexFill>
        <form [formGroup]="userPasswordForm" (ngSubmit)="changePassword(userPasswordForm.value)" fxLayout="column" fxLayoutAlign="space-evenly stretch"
                class="main-form" fxFlex>
                <h1>Nouveau mot de passe</h1>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-input-container floatPlaceholder="auto" fxFlex>
                                <input matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" placeholder="Mot de passe actuel"
                                        autofocus required>
                                <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-input-container>

                </div>
                <div>
                        <mat-input-container floatPlaceholder="auto" fxFlex>
                                <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" placeholder="Nouveau mot de passe"
                                        required>
                                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-input-container>
                        <span fxFlex="1"></span>
                        <mat-input-container floatPlaceholder="auto" fxFlex>
                                <input matInput formControlName="newPassword2" [type]="hideConfirmationPassword ? 'password' : 'text'" placeholder="Confirmation du nouveau mot de passe"
                                        required>
                                <mat-icon matSuffix (click)="hideConfirmationPassword = !hideConfirmationPassword">{{hideConfirmationPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-input-container>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                        <button *ngIf="!validating" mat-raised-button class="submit-button" type="submit">
                                <mat-icon>done</mat-icon>
                                <span>Valider</span>
                        </button>
                        <span fxFlex="1"></span>
                        <button *ngIf="!validating" mat-raised-button (click)="cancel()" type="button">
                                <mat-icon>clear</mat-icon>
                                <span>Annuler</span>
                        </button>
                        <mat-spinner *ngIf="validating"></mat-spinner>
                </div>
        </form>
</div>