<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" fxLayout="row" fxLayoutAlign="center center">
    <mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="userName" type="text" required placeholder="Nom d'utilisateur">
    </mat-input-container>

    <mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="password" type="password" required placeholder="Mot de passe">
    </mat-input-container>

    <button mat-raised-button type="submit">
        <mat-icon>done</mat-icon>
        <span>Valider</span>
    </button>
</form>