<div class="module-container" fxLayout="column" fxLayoutAlign=" none">
    <div class="header-container" fxFlex="60px" fxLayout="row" fxLayoutAlign=" center">
        <h2 fxFlex>Mes utilisateurs</h2>
    </div>
    <div class="content-container" fxLayout="column" fxLayoutAlign=" none">
        <div class="actions-container" fxLayout="row" fxLayoutAlign=" center">
            <button class="add-button" mat-mini-fab (click)="goToCreate()" matTooltip="Nouvel utilisateur" matTooltipPosition="after">
                <mat-icon>add</mat-icon>
            </button>
            <div fxFlex></div>
            <button mat-icon-button class="mat-elevation-z0" matTooltip="Rafraîchir la liste" matTooltipPosition="before" (click)="getFilteredList()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
        <div class="table-header" fxLayout="row">
            <h5 fxFlex>Nom d'utilisateur</h5>
            <h5 fxFlex>Nom</h5>
            <h5 fxFlex>Prénom</h5>
            <h5 fxFlex>E-mail</h5>
            <h5 fxFlex="100px">Etat</h5>
            <span fxFlex="30px"></span>
        </div>
        <div class="table-content" fxLayout="column" fxLayoutAlign=" none">
            <div class="table-row" *ngFor="let element of filteredList">
                <user-info [user]="element" (refreshEvent)="refresh($event)"></user-info>
            </div>
        </div>
    </div>
</div>