.row-container p{
    padding-right: 10px;
}

.row-container button{
    min-width: 40px;
    max-width: 40px;
    width: 40px;
    padding: 0px;
}

.active-account{
    color: #03a9f4;
}

.inactive-account{
    color: rgb(180, 180, 180);
}