<h2>create Fournisseur </h2>
<form [formGroup]="fournisseurForm" (ngSubmit)="createFournisseur(fournisseurForm.value)">
<mat-input-container floatPlaceholder="auto">
    <input matInput formControlName="raisonSociale"
           type="text"
           placeholder="raisonSociale">
</mat-input-container>
<mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="responsable"
               type="text"
               placeholder="responsable">
</mat-input-container>
<mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="adresse"
               type="text"
               placeholder="adresse">            
</mat-input-container>
<mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="email"
               type="text"
               placeholder="email">
</mat-input-container>
<mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="cp"
               type="text"
               placeholder="cp">
</mat-input-container>
<mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="ville"
               type="text"
               placeholder="ville">
</mat-input-container>
<mat-input-container floatPlaceholder="auto">
        <input matInput formControlName="pays"
               type="text"
               placeholder="pays">
</mat-input-container>
<button mat-button type="submit">Submit</button>
<button mat-button (click)="cancel()">retour</button>
</form>