<div class="row-container" fxLayout="row" fxLayoutAlign=" center">
    <p fxFlex>{{fournisseur.raisonSociale}}</p>
    <p fxFlex>{{fournisseur.adresse}}</p>
    <p fxFlex="100px">{{fournisseur.cp}}</p>
    <p fxFlex="100px">{{fournisseur.ville}}</p>
    <p fxFlex="100px">{{fournisseur.pays}}</p>
    <p fxFlex>{{fournisseur.responsable}}</p>
    <p fxFlex="150px">{{fournisseur.email}}</p>
    <button mat-icon-button (click)="onClick" [matMenuTriggerFor]="fournisseurMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #fournisseurMenu="matMenu">
        <button mat-menu-item (click)="editFournisseur()">
            <mat-icon>edit</mat-icon>
            <span>Modifier</span>
        </button>
        <button mat-menu-item (click)="deleteFournisseur()">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
        </button>
    </mat-menu>
</div>