<div class="module-container" fxLayout="column" fxLayoutAlign=" none">
    <div class="header-container" fxFlex="60px" fxLayout="row" fxLayoutAlign=" center">
        <h2 fxFlex>Mes fournisseurs</h2>
        <div class="searchField-container" fxLayout="row" fxLayoutAlign=" center">
            <input class="searchField" fxFlex="500px" type="text" #searchField (keyup.enter)="setFilter(searchField.value)" placeholder="Rechercher">
            <mat-icon>search</mat-icon>
        </div>
        <div class="pagination-container" fxFlex fxLayout="row" fxLayoutAlign="end center">
            <p *ngIf="count >= pageLength && pageIndex + pageLength <= count">
                {{pageIndex +1}}-{{pageIndex + pageLength}} sur {{count}}
            </p>
            <p *ngIf="count != 0 && count < pageLength">
                {{pageIndex +1}}-{{pageIndex + count}} sur {{count}}
            </p>
            <p *ngIf="pageIndex + pageLength > count">
                {{pageIndex +1}}-{{count}} sur {{count}}
            </p>
            <button [disabled]="!previousPageEnabled" (click)="getFirstPage()" mat-button matTooltip="Prmière page">
                <mat-icon>first_page</mat-icon>
            </button>
            <button [disabled]="!previousPageEnabled" (click)="getPreviousPage()" mat-button matTooltip="Page précédante">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button [disabled]="!nextPageEnabled" (click)="getNextPage()" mat-button matTooltip="Page suivante">
                <mat-icon>chevron_right</mat-icon>
            </button>
            <button [disabled]="!nextPageEnabled" (click)="getLastPage()" mat-button matTooltip="Dernière page">
                <mat-icon>last_page</mat-icon>
            </button>
        </div>
    </div>
    <div class="content-container" fxLayout="column" fxLayoutAlign=" none">
        <div class="actions-container" fxLayout="row" fxLayoutAlign=" center">
            <button class="add-button" mat-mini-fab (click)="goToCreate()" matTooltip="Nouveau fournisseur" matTooltipPosition="after">
                <mat-icon>add</mat-icon>
            </button>
            <div fxFlex></div>
            <button mat-icon-button class="mat-elevation-z0" matTooltip="Rafraîchir la liste" matTooltipPosition="before" (click)="getFiltredList()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
        <div class="table-header" fxLayout="row">
            <h5 fxFlex>Fournisseur</h5>
            <h5 fxFlex>Adresse</h5>
            <h5 fxFlex="100px">CP</h5>
            <h5 fxFlex="100px">Ville</h5>
            <h5 fxFlex="100px">Pays</h5>
            <h5 fxFlex>Responsable</h5>
            <h5 fxFlex="150px">E-mail</h5>
            <span fxFlex="46px"></span>
        </div>
        <div class="table-content" fxLayout="column" fxLayoutAlign=" none">
            <div class="table-row" *ngFor="let element of filtredList">
                <fournisseur-info [fournisseur]="element" (deleteEvent)="deleted($event)"></fournisseur-info>
            </div>
        </div>
    </div>
</div>